{% extends "base.html" %} 
{% block title %}Register{% endblock %}
{% block content %}
<div class ="container">
    <h3>Register New User</h3>
    <form action="/register" method ="POST">
        Email <input type = "email" name = "email" class ="form-control"/>
        Role <select name = "role" class ="form-control">
            <option value = "">[Choose Role]</option>
            <option value = "ADMIN">Admin</option>
            <option value = "CLIENT">Client</option>
            <option value = "CLINICAL">Clinical</option>
            </select>
            <hr/>
        <input type = "submit" value = "Submit" class ="btn btn-secondary"/>
    </form>
</div>
{% endblock %}